{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Batch | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% block content %}
 
    {% include 'navbar.html' %}
    {% include 'sidepanel_admin.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">

        <!-- add Batches form begins -->
        <div class="content-area">
            <header class="content-area-header">Add Faculties</header>
            <form action="addBatch" method="post" class="content-area-form">
                {% csrf_token %}
                <select name="courseName" class="input" >
                    <option> Select a Course </option>
                    {% for data in Courses %}
                        <option value="{{ data.courseID }}"> {{ data.courseName }}</option>
                    {% endfor%}
                </select>                
                <input type="text" name="batchName" class="input" placeholder="batch" required />
                <input type="submit" value="add batch" class="form-btn">
            </form>
        </div>
        <!-- add Batches form ends -->

        <!-- show Batches begins -->
        <div class="content-area">
            <header class="content-area-header">Show Batches</header>
            <table class="show-data-box">
                <thead>
                    <th>sr no.</th><th>Batch name</th><th>Course name</th>
                </thead>
                <tbody>
                    {% for data in Batch %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.batchName }}</td>
                        <td>{{ data.courseName.courseName }}</td>
                    </tr>
                    {% empty %}
                        <center>No data found</center>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- show Batches ends -->
    
    </section>
    {% endblock %} 
</body>
</html>