{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Faculty | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% block content %}
 
    {% include 'sidepanel_admin.html' %}
    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">

        <!-- add Faculty form begins -->
        <div class="content-area">
            <header class="content-area-header">Add Faculties</header>
            <form action="addFaculty" method="post" enctype="multipart/form-data" class="content-area-form">
                {% csrf_token %}
                <input type="text" name="username" class="input" placeholder="username" required />
                <input type="email" name="email" class="input" placeholder="email" required/>
                <input type="tel" name="phoneno" minlength="10" maxlength="10" class="input" placeholder="phoneno" required/>
                <input type="password" name="password" class="input" placeholder="password" required/>
                <input type="file" name="image" class="input">
                <input type="hidden" name="type" value="3" class="input" placeholder="type" />
                <input type="submit" value="add faculty" class="form-btn">
            </form>
        </div>
        <!-- add Faculty form ends -->

        <!-- show Faculty begins -->
        <div class="content-area">
            <header class="content-area-header">Show Faculties</header>

            <table class="show-data-box">
                <thead>
                    <th>Image</th><th>Username</th><th>Email</th><th>Phone no.</th>
                    <th><ion-icon name="create-outline" class="blk-icon"></ion-icon></th>
                    <th><ion-icon name="trash-outline" class="blk-icon" ></ion-icon></th>
                </thead>
                <tbody>
                    {% for data in page_obj %}
                    <tr>
                        <td>
                            {% if data.image %}
                                <img src="{{ data.image.url }}" alt="" class="img-size">
                            {% else %}
                                <img src="{% static 'assets/user-default.png' %}" alt="" class="img-size">
                            {% endif %}
                        </td>
                        <td>{{ data.username }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.phoneno }}</td>
                        <td>
                            <a href="{% url 'updateFaculty' data.id  %}">
                                <span class="icon-box gr-icon">
                                    <ion-icon name="create-outline" class="icon"></ion-icon>
                                </span>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'deleteFaculty' data.id %}">
                                <span class="icon-box rd-icon">
                                    <ion-icon name="trash-outline" class="icon"></ion-icon>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <center>No data found</center>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {%if page_obj.has_previous %} {# whether the previous page exists #}
                    <a href="?page={{page_obj.previous_page_number}}" class="pagination-btn">prev</a> {# link to the prev page #}
                {% endif %}
                
                {% if page_obj.number == 1 %}
                    <p></p>
                {% else %}
                    <span>page: {{page_obj.number}}</span> {# the current page number #}
                {% endif %}
                
                {%if page_obj.has_next %} {# whether the next page exists #}
                    <a href="?page={{page_obj.next_page_number}}" class="pagination-btn">next</a> {# link to the next page #}
                {% endif %}
            </div>
        </div>
        <!-- show Faculty ends -->
    
    </section>
    {% endblock %} 
</body>
</html>