{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Home | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    
    {% include 'sidepanel_admin.html' %}
    {% include 'navbar.html' %}


    {% block content %}

    {% endblock %} 
    <!-- Main Container -->
    <section class="container">
        <div class="content-area" style="padding: 5px; height: 85vh;">
            <div class="banner">
                <img src="{% static 'assets/banner_2.jpg' %}" alt="">
                <div class="image-box">
                    <img src="{% static 'assets/user_2.jpg' %}" alt="">
                </div>
            </div>
            <div class="user-details">
                <p class="user-info">
                    <label for="user-fetched-info" class="info-label">Username</label>
                    <span class="user-fetched-info">{{ request.session.username }}</span>
                </p>
                <p class="user-info">
                    <label for="user-fetched-info" class="info-label">Email</label>
                    <span class="user-fetched-info">{{ request.session.email }}</span>
                </p>
                <p class="user-info">
                    <label for="user-fetched-info" class="info-label">Phone no</label>
                    <span class="user-fetched-info">{{ request.session.phoneno }}</span>
                </p>
            </div>
        </div>
    </section>
</body>
</html>