{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Semester | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        .col-6{
            grid-template-columns: repeat(6, 10% 10% 20% 20%  20% 20%);
        } 
    </style>
</head>
<body>
    {% block content %}
 
    {% include './navbar_admin.html' %}
    {% include 'sidepanel_admin.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">

        <!-- add institue form begins -->
        <div class="content-area">
            <header class="content-area-header">Add Semester</header>
            <form action="addSemester" method="post" class="content-area-form">
                {% csrf_token %}
                <input type="text" name="semester" class="input" placeholder="semester" required />
                <select name="courseName" class="input" >
                    <option> Select an option</option>
                    {% for data in Courses %}
                        <option value="{{ data.id }}"> {{ data.courseName }}</option>
                    {% endfor%}
                </select>                


                <input type="submit" value="add semester" class="form-btn">
            </form>
        </div>
        <!-- add institue form ends -->

        <!-- show institue begins -->
        <div class="content-area">
            <header class="content-area-header">Show Semesters</header>
            
            <div class="show-data-box">
                <div class="col-6">
                    <p class="jc-lft">Srno.</p>
                    <p class="jc-lft">Semester</p>
                    <p class="jc-lft">Course Name</p>
                    <p><ion-icon name="create-outline" class="blk-icon"></ion-icon></p>
                    <p><ion-icon name="trash-outline" class="blk-icon" ></ion-icon></p>
                </div>
            
                {% for data in Semester %}
                <div class="col-6">
                    <p>{{ forloop.counter }}</p>
                    <p class="jc-lft">{{ data.semester }}</p>
                    <p class="jc-lft">{{ data.courseName.courseName }} </p>
                    
                    <!-- update institue data -->
                    <a href="#">
                        <span class="icon-box gr-icon">
                            <ion-icon name="create-outline" class="icon"></ion-icon>
                        </span>
                    </a>
                    <!-- delete institue data -->
                    <a href="#">
                        <span class="icon-box rd-icon">
                            <ion-icon name="trash-outline" class="icon"></ion-icon>
                        </span>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
        <!-- show institue ends -->
    
    </section>
    {% endblock %} 
</body>
</html>