{% load static %}

<!-- Side Navigation Bar -->
<section class="side-panel">
    <div class="user-name-box">
        <a href="{% url 'adminIndex' %}">Admin</a>
    </div>

    <ul class="list">
        <li class="list-items"><a href="{% url 'faculty' %}" class="links">Faculty</a></li>
        <li class="list-items"><a href="{% url 'batch' %}" class="links">Batch</a></li>
        <li class="list-items"><a href="{% url 'semester' %}" class="links">Semester</a></li>
        <li class="list-items"><a href="{% url 'subject' %}" class="links">Subject</a></li>
    </ul>

    <p class="credits">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> 
        | All Rights Reserved 
    </p>
</section>