{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Upload | Faculty</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<style>
.content-area{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.content-area img{
    height: 100px; width: 100px; margin-bottom: 15px; 
}
.content-area-header{
    text-align: center; font-size: 24px; margin-bottom: 15px; 
}
</style>
<body>
    
    {% include 'navbar.html' %}
    {% include 'sidepanel_admin.html' %}

    {% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">
        <div class="content-area" style="padding: 5px; height: 85vh;">
            <img src="{% static 'assets/upload-file-image.png' %}" alt="file-upload-image" />
            <header class="content-area-header">Student File Upload</header>
            <form 
                action="upload_csv" method="post" enctype="multipart/form-data" class="content-area-form"
                style="display: flex; gap: 20px;">
                {% csrf_token %}  
                {{ form.as_p }}  
                <input type="file" name="csv_file" 
                    style="
                        width: 100%;
                        padding: 10px 15px;
                        border-radius: 6px;
                        outline: none;
                        border: 2px solid rgb(224, 224, 224); cursor: pointer;
                    "/>
                <button type="submit" class="form-btn">Upload</button> 
            </form>
        </div>
    </section>
    {% endblock %} 

</body>
</html>