{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Subject | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>
<body>
    {% block content %}
 
    {% include 'navbar.html' %}
    {% include 'sidepanel_admin.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">

        <!-- add institue form begins -->
        <div class="content-area">
            <header class="content-area-header">Add Subjects</header>
            
            <form action="addSubject" method="post" class="content-area-form" id="courses_form" data-semester-url="{% url 'ajax_load_semesters' %}">
                {% csrf_token %}
                <select name="courseName" id="fetch_semesters" class="input">
                    <option value="disabled" selected disabled>select a course</option>
                    {% for course in courses %}
                        <option value="{{ course.courseID }}" name="courseID">{{ course.courseName}}</option>   
                    {% endfor %}
                </select>
                <select name="semester" id="dropdown-semesters" class="input">
                    <option value="disabled" selected disabled>--- select course first ---</option>                    
                </select>
                <input type="text" name="subject" class="input" placeholder="enter a subject" required/>
                <input type="number" name="credits" id="credits" class="input" placeholder="credit" required/>
                <input type="submit" class="form-btn" value="add subject"/>                
            </form>
        </div>
        <!-- add institue form ends -->

        <!-- show institue begins -->
        <div class="content-area">
            <header class="content-area-header">Show Subjects</header>
            
            <table class="show-data-box">
                <thead>
                    <th>srno.</th><th>Course</th><th>Subject</th><th>Credits</th><th>Semester</th>
                </thead>
                <tbody>
                    {% for data in subjects %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.courseName.courseName }}</td> 
                        <td>{{ data.subject }}</td>
                        <td>{{ data.credits }}</td>
                        <td>{{ data.semester.semester }}</td> 
                    </tr>
                    {% empty %}
                    <center>No Data Found</center>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- show institue ends -->
    
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("#fetch_semesters").change(function () {
            var url = $("#courses_form").attr("data-semester-url"); 
            var course_id = $(this).val(); 
            $.ajax({                      
                url: url,                  
                data: {
                    'course_id': course_id     
                },
                success: function (data) { 
                    $("#dropdown-semesters").html(data); 
                    console.log("semesters are fetched")
                },
                error: function(data){
                    console.log("error")
                }
            });
        });
      </script>
    {% endblock %} 
</body>
</html>