{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
        /* .col-6{
            grid-template-columns: repeat(6, 5% 30% 25% 30% 5% 5%);
        }  */
    </style>
</head>
<body>
    {% block content %}
    
    {% include 'navbar.html' %}
    {% include 'sidepanel.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">

        <!-- add admin form begins -->
        <div class="content-area">
            <header class="content-area-header">Add Admins</header>
            <form action="addAdmin" method="post" enctype="multipart/form-data" class="content-area-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="username" class="input" placeholder="username" required />
                <input type="email" name="email" class="input" placeholder="email" required/>
                <input type="tel" name="phoneno" class="input" maxlength="10" placeholder="phoneno" required/>
                <input type="password" name="password" class="input" placeholder="password" required/>
                <input type="file" name="image" class="input">
                <input type="hidden" name="type" value="2" class="input" placeholder="type" />
                <input type="submit" value="add admin" class="form-btn">
            </form>
        </div>
        <!-- add admin form ends -->

        <!-- show admin begins --> 
        <div class="content-area">
            <header class="content-area-header">Show Admins</header>
            
            <div class="show-data-box">
                <div class="field-header col-6">
                    <p class="jc-lft">Image</p>
                    <p class="jc-lft">Username</p>
                    <p class="jc-lft">Phone no</p>
                    <p class="jc-lft">Email</p>
                    <p><ion-icon name="create-outline" class="blk-icon"></ion-icon></p>
                    <p><ion-icon name="trash-outline" class="blk-icon" ></ion-icon></p>
                </div>
            
                {% for data in Admin %}
                <div class="col-6">
                    <!-- <p>{{ forloop.counter }}</p> -->
                    {% if data.image %}
                        <!-- <p>{{ data.image.url }}</p> -->
                        <img src="{{ data.image.url }}" alt="" class="img-size">
                        <!-- <img src="media/uploads/20220923192816wallpaperflare.com_wallpaper_3.jpg" alt="" class="img-size"> -->
                    {% else %}
                        <img src="{% static 'assets/user-default.png' %}" alt="" class="img-size">
                    {% endif %}

                    <!-- <input type="text" name="username" class="input" value="{{ data.username }}" placeholder="username" required />  -->
                    <p class="jc-lft">{{ data.username }}</p>
                    <p class="jc-lft">{{ data.phoneno }}</p>
                    <p class="jc-lft">{{ data.email }} </p>
                    
                    <!-- update admin data -->
                    <a href="{% url 'updateAdmin' data.id  %}">
                        <span class="icon-box gr-icon">
                            <ion-icon name="create-outline" class="icon"></ion-icon>
                        </span>
                    </a>
                    <!-- delete admin data -->
                    <a href="{% url 'deleteAdmin' data.id %}">
                        <span class="icon-box rd-icon">
                            <ion-icon name="trash-outline" class="icon"></ion-icon>
                        </span>
                    </a>
                </div>
                {% empty %}
                    <p>No data found</p>
                {% endfor %}
            </div>

        </div>
        <!-- show admin ends -->
    
    </section>
    {% endblock %} 
</body>
</html>