{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% block content %}
    
    {% include 'navbar.html' %}
    {% include 'sidepanel.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">

        <!-- add admin form begins -->
        <div class="content-area">
            <header class="content-area-header">Add Admins</header>
            <form action="addAdmin" method="post" enctype="multipart/form-data" class="content-area-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="username" class="input" placeholder="username" required />
                <input type="email" name="email" class="input" placeholder="email" required/>
                <input type="tel" name="phoneno" class="input" maxlength="10" placeholder="phoneno" required/>
                <input type="password" name="password" class="input" placeholder="password" required/>
                <input type="file" name="image" class="input">
                <input type="hidden" name="type" value="2" class="input" placeholder="type" />
                <input type="submit" value="add admin" class="form-btn">
            </form>
        </div>
        <!-- add admin form ends -->

        <!-- show admin begins --> 
        <div class="content-area">
            <header class="content-area-header">Show Admins</header>
            <table class="show-data-box">
                <thead>
                    <th>Image</th><th>Username</th><th>Email</th><th>Phone no.</th>
                    <th><ion-icon name="create-outline" class="blk-icon"></ion-icon></th>
                    <th><ion-icon name="trash-outline" class="blk-icon" ></ion-icon></th>
                </thead>
                <tbody>
                    {% for data in Admin %}
                    <tr>
                        <td>
                            {% if data.image %}
                                <img src="{{ data.image.url }}" alt="" class="img-size">
                            {% else %}
                                <img src="{% static 'assets/user-default.png' %}" alt="" class="img-size">
                            {% endif %}
                        </td>
                        <td>{{ data.username }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.phoneno }}</td>
                        <td>
                            <a href="{% url 'updateAdmin' data.id  %}">
                                <span class="icon-box gr-icon">
                                    <ion-icon name="create-outline" class="icon"></ion-icon>
                                </span>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'deleteAdmin' data.id %}">
                                <span class="icon-box rd-icon">
                                    <ion-icon name="trash-outline" class="icon"></ion-icon>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                        <center>No data found</center>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
        <!-- show admin ends -->

    </section>
    {% endblock %} 
</body>
</html>