{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Institute | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    {% block content %}
    
    {% include 'navbar.html' %}
    {% include 'sidepanel.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">

        <!-- add institue form begins -->
        <div class="content-area">
            <header class="content-area-header">Add Institutes</header>
            <form action="addInstitute" method="post" class="content-area-form">
                {% csrf_token %}
                <!-- <input type="text" name="instituteID" class="input" placeholder="institute id" /> -->
                <input type="text" name="instituteName" class="input" placeholder="institute name" />
                <input type="text" name="instituteAddress" class="input" placeholder="institute address" />
                <input type="submit" value="add institute" class="form-btn">
            </form>
        </div>
        <!-- add institue form ends -->

        <!-- show institue begins -->
        <div class="content-area">
            <header class="content-area-header">Show Institutes</header>
            <table class="show-data-box">
                <thead>
                    <th>sr no.</th><th>Institute Name</th><th>Institute Address</th>
                    <th><ion-icon name="create-outline" class="blk-icon"></ion-icon></th>
                    <th><ion-icon name="trash-outline" class="blk-icon" ></ion-icon></th>
                </thead>
                <tbody>
                    {% for data in page_obj %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.instituteName }}</td>
                        <td>{{ data.instituteAddress }}</td>
                        <td>
                            <a href="{% url 'updateInstitute' data.instituteID  %}">
                                <span class="icon-box gr-icon">
                                    <ion-icon name="create-outline" class="icon"></ion-icon>
                                </span>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'deleteInstitute' data.instituteID  %}">
                                <span class="icon-box rd-icon">
                                    <ion-icon name="trash-outline" class="icon"></ion-icon>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                        <center>No data found</center>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {%if page_obj.has_previous %} {# whether the previous page exists #}
                    <a href="?page={{page_obj.previous_page_number}}" class="pagination-btn">prev</a> {# link to the prev page #}
                {% endif %}
                
                {% if page_obj.number == 1 %}
                    <p></p>
                {% else %}
                    <span>page: {{page_obj.number}}</span> {# the current page number #}
                {% endif %}
                
                {%if page_obj.has_next %} {# whether the next page exists #}
                    <a href="?page={{page_obj.next_page_number}}" class="pagination-btn">next</a> {# link to the next page #}
                {% endif %}
            </div>
        </div>
        <!-- show institue ends -->
    
    </section>
    {% endblock %} 
</body>
</html>