{% load static %}

<!-- Side Navigation Bar -->
<section class="side-panel">
    <div class="user-name-box">
        <a href="{% url 'indexDashboard' %}">Superadmin</a>
    </div>

    <ul class="list">
        <li class="list-items"><a href="{% url 'admin' %}" class="links">Admin</a></li>
        <li class="list-items"><a href="{% url 'institute' %}" class="links">Institute</a></li>
        <li class="list-items"><a href="{% url 'course' %}" class="links">Course</a></li>
    </ul>

    <p class="credits">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> 
        | All Rights Reserved 
    </p>
</section>