{% load static %}

<!-- Side Navigation Bar -->
<section class="side-panel">
    <div class="user-name-box">
        <a href="#">Superadmin</a>
    </div>

    <ul class="list">
        <li class="list-items"><a href="#" class="links">home</a></li>
        <li class="list-items"><a href="#" class="links">Add Exam</a></li>
        <li class="list-items"><a href="#" class="links">Add Student</a></li>
    </ul>

    <p class="credits">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script> 
        | All Rights Reserved 
    </p>
</section>