{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin (update) | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <script src="https://kit.fontawesome.com/2d2e379b4b.js" crossorigin="anonymous"></script>
</head>

<body>
    {% block content %}

    {% include 'navbar.html' %}
    {% include 'sidepanel.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Main Container -->
    <section class="container">

        <!-- update admin form begins -->
        <div class="content-area">
            <header class="content-area-header">Update Course</header>
            <form action="editAdmin/{{ context.id }}" method="post" class="content-area-form">
                <input type="hidden" name="id" id="id" value="{{ context.id }}">
                {% csrf_token %}
                <input type="text" name="username" class="input" value="{{ context.username }}"  placeholder="username" required />
                <input type="email" name="email" class="input" value="{{ context.email }}" placeholder="email" required/>
                <input type="tel" name="phoneno" class="input" value="{{ context.phoneno }}" placeholder="phoneno" required/>
                <input type="text" name="password" class="input" value="{{ context.password }}" placeholder="password" required/>
                <div class="two-btn-box">
                    <button type="submit" value="update" class="form-btn">Update</button>
                    <a href="{% url 'admin' %}" class="cancel-btn">Cancel</a>
                </div>
            </form>
        </div>
        <!-- update admin form ends -->
    </section>
    {% endblock %}
</body>
</html>