{% load static %}

{% extends utils.navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marks_Entry | Dashboard</title>
    <link rel="icon" type="image/x-icon" href="assets/lj-favicon.png">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/plugins.css">
</head>
<body>

    <!-- Main Container -->
    <section class="container">
        <div class="content-area">

        </div>
    </section>
</body>
</html>