/* navigation styling */
.navigation-bar{
    position: sticky;
    top: 0; 
    left: var(--side-panel-width);
    width: 100vw;
    height: var(--nav-height);
    background-color: var(--white);
    box-shadow: 5px 0 5px 5px rgba(41, 41, 41, 0.167);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar > .logo{
    margin-left: 15px;
    height: 65%;
    width: max-content;
}

.navigation-bar > .logo > img{
    height: 100%;
    width: 100%;
}

.navigation-bar > .title{
    font-size: 18px;
}

.navigation-bar > .logout-box{
    width: 180px;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--white);
}
.navigation-bar > .logout-box > a{
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    color: var(--side-panel);
    background-color: var(--white);
}
.navigation-bar > .logout-box > a:active{
    color: var(--red);
}

/* side panel styling */
.side-panel{
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: var(--side-panel-width);
    height: calc( 100vh - var(--nav-height) );
    background-color: var(--side-panel);
    box-shadow: 1px 10px 5px 5px rgba(41, 41, 41, 0.167);
    display: flex;
    flex-direction: column;
}

.side-panel > .user-name-box{
    width: 100%;
    height: var(--height-70);
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    border-bottom: 1px solid var(--break-line);
}
.side-panel > .user-name-box > a{
    color: var(--white);
    font-family: var(--font-montserrat);
    text-decoration: none;
}
.side-panel > .user-name-box > a:hover
{
    color: var(--red);
}
.side-panel > .user-name-box > a:hover.user-name-box
{
    border-bottom: 1px solid var(--red);
}

.side-panel > .list{
    gap: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-height: calc( 100% - (var(--height-70)*2) );
    overflow-y: scroll;
}

.side-panel > .list > .list-items{
    list-style: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}

.side-panel > .list > .list-items > .links{
    position: relative;
    width: 100%;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--font-montserrat);
}

.side-panel > .list > .list-items > .links::before{
    content: '';
    position: absolute;
    top: 110%;
    left: 3%;
    transform: translate(-3%, -110%);
    width: 0;
    height: 0.02rem;
    background-color: var(--red);
    transition: all 0.65s ease;
}

.side-panel > .list > .list-items:hover > .links::before{
    width: 100%;
}

.side-panel > .list > .list-items > .links:active{
    color: var(--red);
}

.side-panel > .credits{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--white);
    height: var(--height-70);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: var(--font-montserrat);
    border-top: 1px solid var(--break-line);
}

/* container styling */
.container{
    position: absolute;
    top: var(--nav-height);
    left: var(--side-panel-width);
    height: calc( 100vh - var(--nav-height) );
    width: calc( 100vw - var(--side-panel-width) );
    background-color: var(--light-grey);
    padding: 30px;
}

.container > .content-area{
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 10px 20px;
    margin-bottom: 40px;
}
.content-area-header{
    font-size: 18px;
    font-weight: 600;
    padding: 8px 8px;
}

.content-area-form{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
}
.content-area-form > input[type="text"]{
    outline: none;
    border: 1px solid var(--grey);
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 8px;
}   
.content-area-form > input[type="text"]:focus{
    box-shadow: 0 0 0 3px #e5e5e57f;
}
.form-btn{
    padding: 10px 15px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: var(--violet);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}
.form-btn:is(:hover, :focus){
    box-shadow: 0 0 0 3px #b59ff581;
}


.col-6{
    padding-bottom: 20px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 5% 15% 35% 35% 5% 5%);
    text-align: center;
    border-bottom: 1px solid var(--grey);
}
.col-6:nth-child(3), 
.col-6:nth-child(4){
    justify-content: left;
}
.jc-lft{
    text-align: left;
    /* justify-content: left; */
}


.svg{
    height: 16px;
}