{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty | Marks Entry | Marks_Entry</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/lj-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    
    {% include 'navbar.html' %}
    {% include 'faculty_sidepanel.html' %}

    {% block content %}

    <!-- Main Container -->
    <section class="container">
        <div class="content-area">
            <!-- styling for this form is in head >> style tag in this page -->
            <form 
                method="post" enctype="multipart/form-data" class="content-area-form | marks_entry_form"
                id="student_form"
                data-course-url="{% url 'ajax_load_courses' %}"
                data-batch-url="{% url 'ajax_load_batches' %}"
                data-semester-url="{% url 'ajax_load_semesters' %}"
                data-student-url="{% url 'ajax_load_students' %}"
                >

                {% csrf_token %}  
                {{ form.as_p }}  

                <header class="content-area-header">Marks Entry</header>

                <div class="dropdown-box">
                    <select name="instituteName" id="dropdown-institutes" class="input">
                        <option value="disabled" selected disabled>select an institute</option>
                        {% for institute in institutes %}
                            <option value="{{ institute.instituteID }}" name="instituteID">{{ institute.instituteName}}</option>   
                        {% endfor %}
                    </select>
    
                    <select name="courseName" id="dropdown-courses" class="input">
                        <option value="disabled" selected disabled>---</option>  
                    </select>
    
                    <select name="batchName" id="dropdown-batches" class="input">
                        <option value="disabled" selected disabled>---</option>                    
                    </select>
    
                    <select name="semester" id="dropdown-semesters" class="input">
                        <option value="disabled" selected disabled>---</option>                    
                    </select>
                </div>

                <div class="marksEntryForm" id="get-students">
                    
                </div>

            </form>
        </div>
    </section>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %} 
</body>
</html>