*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: var(--font-montserrat);
}

body{
    display: flex;
    max-height: 100vh;
    background-color: var(--background);
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0;
}