:root{
    /* colors */
    --white: #fff;
    --black: #000;
    --grey: #e5e5e5;
    --primary: #1D72DF;
    --violet: #6741d9;
    --purple: #9C27B0;
    --pink: #9B3F63;
    --background: #F5F6F5;
    --light: #fbfaf9;
    --orange: #FC930B;
    --green: #53AD57;
    --red: #EA4642;
    --sky-blue: #10B7CB;
    --side-panel: #36344D;
    --break-line: #465166;

    /* font family */
    --font-montserrat: 'Montserrat', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-opensans: 'Open Sans', sans-serif;

    /**/
    --nav-height: 65px;
    --side-panel-width: 280px;
    --height-70: 70px;
}